*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

:root {
    --yellow: #e49400;
    --green: #2d8515;
    --red: #db2a34;
    --blue: #2477ff;
    --dark-blue: #17193d;
    --purple: #474d84;
    --puple-secondary: #333867;
    --title-primary-color: rgb(231 226 226);
}

body * {
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--puple-secondary);
}

.container {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background: var(--dark-blue);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.card-header h1 {
    font-weight: 900;
    font-size: 24px;
    color: var(--title-primary-color);
}

.card-header-buttons {
    display: flex;
    justify-content: stretch;
    gap: 10px;
    padding: 4px;
}